<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.smartpush.app" version = "0.1.0" versionCode = "1">


    <name>VoIP Metrics Calc</name>
    <description>
        VoIP Metrics Calculator
    </description>

    <author email="jon@digipigeon.com" href="http://www.digipigeon.com">
        Digipigeon Limited
    </author>

    <preference name="phonegap-version"           value="3.3.0" />   

    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="default" />       
    <preference name="fullscreen"                 value="true" />          
    <preference name="webviewbounce"              value="false" />           
    <preference name="prerendered-icon"           value="false" />           
    <preference name="stay-in-webview"            value="false" />          
    <preference name="ios-statusbarstyle"         value="black-opaque" />   
    <preference name="detect-data-types"          value="true" />          
    <preference name="exit-on-suspend"            value="false" />          
    <preference name="show-splash-screen-spinner" value="true" />           
    <preference name="auto-hide-splash-screen"    value="true" />           
    <preference name="disable-cursor"             value="false" />          
    <preference name="android-minSdkVersion"      value="7" />              
    <preference name="android-installLocation"    value="auto" />

          
	<!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
	
	<icon gap:platform="ios" src="icon.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/icon-76.png" width="76" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon-120.png" width="120" />
    <icon gap:platform="ios" height="152" src="res/icon/ios/icon-152.png" width="152" />

	<!--<access origin="http://127.0.0.1*"/>-->
    <access origin="http://www.digipigeon.com" />
    <access origin="http://www.connexcs.com" />
	
</widget>
